*{
    margin: 0;
    padding: 0;
}
footer{
    margin-top: 5%;
    background-color: #454545;
    color:white;
    padding-left: 2%;
}
footer li{
    list-style: none;
}
footer ul{
    padding-bottom: 10%;
}
footer li a{
    text-decoration: none;
    color:lightgray;
}
footer li a:hover{
    text-decoration: none;
    color:white;
}
footer h2{
    font-size: 1.75rem;
    padding-bottom: 3%;
}
footer .lista{   
    display: grid;
    place-items: left;
    padding-top: 2%;
    letter-spacing: 0.1cm;
    line-height: 25px;
}

footer .menu-social-links ul{
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
    align-items: center;
    justify-content: left;
}

footer .premio2020,.premio2021{
    padding-top: 10%;
    text-align: center;
}
footer .premio2020 img{
    width: 30%;
}
footer .premio2021 img{
    width: 36%;
}
