*{
    margin: 0;
    padding: 0;
}
footer{
    margin-top: 5%;
    background-color: #454545;
    color:white;

}
footer li{
    list-style: none;
}
footer ul{
    padding-bottom: 10%;
}
footer li a{
    text-decoration: none;
    color:lightgray;
}
footer li a:hover{
    text-decoration: none;
    color:white;
}
h2{
    font-size: 1.75rem;
    padding-bottom: 3%;
}
footer .lista{
    padding-left:5%;
    padding-top: 2%;
    letter-spacing: 0.1cm;
    line-height: 25px;
}