.img_vinos img{
  border-radius: 5px;
  box-shadow: 5px 5px 4px gray;
}

.boton_noticia{
  padding-top: 2%;
}

.class_carrusel{
  background: url("../src/img/carrusel/carne_carrusel.webp");
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}
.class_carrusel h2{
  color: white;
  text-shadow: 1px 1px 3px black;
  font-family: 'Ubuntu bold';
}

@media only screen and (max-width: 767px) {
  /* For mobile phones: */
  main h2{
    font-size: 200%;
    padding-top: 2%;
    padding-bottom:2% ;
  }
  main img{
  width: 60%;
  max-width: 60%;
  }
  p{
    font-size: 60%;
  }
  .class_carrusel h2{
    font-size: 150%;
  }
  .class_carrusel{
    height: 60vh;
    max-height: 60vh;
    background-size: cover;
    background-position: center;
  }
  .boton_noticia{
    width: 100%;
    font-size: 60%;
  }
}

@media only screen and (min-width: 768px) {
  main h2{
    font-size: 160%;
    padding-top: 2%;
    padding-bottom:2% ;
  }
  main img{
  width: 100%;
  max-width: 60%;
  }
  p{
    font-size: 50%;
  }
  .noticia{
    max-width: 100%;
    max-height: 100%;
  }
  .class_carrusel h2{
    font-size: 150%;
  }
  .class_carrusel{
    height: 90vh;
    max-height: 90vh;
    background-size: cover;
    background-position: center;
  }
  .boton_noticia{
    width: 100%;
    font-size: 60%;
  }
}
@media only screen and (min-width: 992px) {
  main h2{
    font-size: 220%;
    padding-top: 2%;
    padding-bottom:2% ;
  }
  main img{
  width: 100%;
  max-width: 60%;
  }
  p{
    font-size: 70%;
  }
  .noticia{
    max-width: 100%;
    max-height: 100%;
  }
  .class_carrusel h2{
    font-size: 250%;
  }
  .class_carrusel{
    height: 90vh;
    max-height: 90vh;
    background-size: cover;
    background-position: center;
  }
  .boton_noticia{
    width: 100%;
    font-size: 60%;
  }
  .caja_imagen{
    display: grid;
    align-items: center;
    justify-content: center;
  }
}
@media only screen and (min-width: 1200px){
  main h2{
    font-size: 290%;
    padding-top: 2%;
    padding-bottom:2% ;
  }
  main img{
  width: 100%;
  max-width: 60%;
  }
  p{
    font-size: 90%;
  }
  .noticia{
    max-width: 100%;
    max-height: 100%;
  }
  .class_carrusel h2{
    font-size: 400%;
  }
  .class_carrusel{
    height: 90vh;
    max-height: 90vh;
    background-size: cover;
    background-position: center;
  }
  .boton_noticia{
    width: 100%;
    font-size: 100%;
  }
  .caja_imagen{
    display: grid;
    align-items: center;
    justify-content: center;
  }
}