.img_vinos img{
  border-radius: 5px;
  box-shadow: 5px 5px 4px gray;
}

.boton_noticia{
  padding-top: 2%;
}

.class_carrusel{
  height: auto;
  width: 100%;
}

.class_carrusel img {
  display: block;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  object-fit: cover;
} 