body{
    background:url("../src/img/pulpo_fondo.jpg");
    background-size: cover; 
    backdrop-filter: blur(10px);
    position: relative;
}
main{
    padding-top: 2%;
    padding-bottom: 2%;
}
.register,.log-in{
    margin:3%;
    background-color: white;
    width: 85%;
    border-radius: 5px 5px 5px 5px;
}
.titulo{
    background-color: gray;
    text-align: center;
    color: white;
    font-size: 1.25rem;
    font-family: 'Ubuntu bold';
    padding: 5%;
    border-radius: 5px 5px 0px 0px;
}
.formulario{
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.formulario button{
    margin-right: 2%;
    font-size: 0.75rem;
    width: 20%;
    text-align: center;
}
.inputs{
    display: flex;
    justify-content: end;
    gap:5%;
    height: 2rem;
    margin-bottom: 5%;
}
input{
    width: 60%;
    max-width: 60%;
    padding: 1%;
    border: 1px solid lightgray;
    border-radius: 4px;
}
input[type='checkbox']{
    width: 5%;
}
.chebuttons{
    padding-bottom: 2%;
}


@media only screen and (max-width: 767px) {
    /* For mobile phones: */
    .inputs{
        gap:2%;
        height: 1.5rem;
        margin-bottom: 5%;
    }
    .chebuttons{
        font-size: 80%;
    }
    label{
        font-size: 80%;
    }
    .boton_enviar button{
        width: 40% !important;
        max-width: 40% !important;
    }
}

@media only screen and (min-width: 768px) {
    .register,.log-in{
        width: 100%;
    }
    .inputs{
        height: 2rem;
        margin-bottom: 5%;
    }
    label{
        font-size: 80%;
    }
    .boton_enviar button{
        width: 40% !important;
        max-width: 40% !important;
    }
}
@media only screen and (min-width: 992px) {
    label{
        font-size: 100%;
    }
    .boton_enviar button{
        width: 50% !important;
        max-width: 50% !important;
    }
}
@media only screen and (min-width: 1200px){
    label{
        font-size: 100%;
    }
    .boton_enviar button{
        width: 50% !important;
        max-width: 50% !important;
    }
    
}