body{
    font-family: 'Ubuntu', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    background-color: rgba(255, 255, 255, 0.795);
    box-shadow: 0 0 4px black;
    position: sticky;
    width: 100%;
    top:0;
    z-index: 999;
    padding-bottom: 0.6%;
}

nav.menu-contacto ul{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    gap: 2%;
}
nav.menu-contacto ul li{
    font-family: 'Ubuntu bold';
}

.iconos_submenu{
    font-size: 120%;
}

.li_idioma img{
    width: 60%;
}
.logo{
    float: right;
}

nav.menu-header ul{
    display: flex;
    padding-top: 2%;
    font-size: 120%;
    gap:5%;
}

nav.menu-contacto ul li.icons {
    font-size: 140%;
 }
header nav ul li{
    list-style: none;
}
header nav ul li a{
    color: black;
}
header nav ul li a:hover{
    color:brown;
}

header .reservas{
    padding-top: 0.1%;
    padding-right: 1%;
}
.button{
    width: 60%;
}


