.contenido{
    padding-top: 2%;
}
.visitas_titulo{
    display: flex;
    gap:70%;
}
.visitas_titulo select{
    border: 1px solid lightgray;
    border-radius:3px ;
    text-align: center;
    padding: 5%;
}
main img{
    padding: 1%;
    width: 80%;
}
.caja_grafica{
    border: 1px solid lightgray;
    border-radius: 5px;
}
main h1{
    padding: 2% 0%;
}
@media only screen and (max-width: 767px) {
    /* For mobile phones: */
    .visitas_titulo{
        display: flex;
        gap:60%;
    }
}
