@font-face {
    font-family: 'Ubuntu';
    src: url("../src/fonts/Ubuntu-Regular.ttf");
}
@font-face {
    font-family: 'Ubuntu bold';
    src: url("../src/fonts/Ubuntu-Bold.ttf");
}
 /***
  *Reinicios de padding para ajustar tamaños
  */
  .pt-0{
    padding-top: 0 ;
  }
  .pb-0{
    padding-bottom: 0;
  }
  .pl-0{
    padding-left: 0;
  }
  .pr-0{
    padding-right:0 ;
  }
  .pd-0{
    padding: 0;
  }
  
*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

body{
    margin-top: 8%;
    font-family:'Ubuntu', Tahoma, Geneva, Verdana, sans-serif;
}
