body{
    min-height: 100vh;
    position: relative;
}
main{
    padding-bottom: 17%;
}
footer{
    position: absolute;
    background-color: #454545;
    color:white;
    padding-left: 2%;
    padding-bottom: 1%;
    z-index: 999;
    width: 100%;
    bottom: 0;
}
footer li a{
    color:lightgray;
}
footer li a:hover{
    color:white;
}
footer h2{
    font-size: 1.75rem;
    padding-bottom: 2%;
}
footer .lista{   
    display: grid;
    place-items: left;
    padding-top: 2%;
    letter-spacing: 0.1cm;
    line-height: 25px;
}

footer .menu-social-links ul{
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
    align-items: center;
    justify-content: left;
    font-size: 200%;
}
footer .premio2020 img{
    width: 75%;
    max-width: 75%;
}
footer .premio2021 img{
    width: 80%;
    max-width: 80%;
}
footer .logofooter{
    width: 100%;
    max-width: 100%;
}